.main{
    display:grid;
    grid-template-columns: 25% 1fr;
}


.projects{
    border-right: solid 1px black;
    min-height:100%;
    background-color:aquamarine;
}

.project-flex{
    display:flex;
    flex-direction: column;
    margin-left:10px;

}